/* apply a natural box layout model to all elements, but allowing components to change */

#gameWindow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    box-sizing: border-box;
    font-family: sans-serif;
    background-color: lightgrey;
}

#gameWindow *, #gameWindow *:before, #gameWindow *:after {
    box-sizing: inherit;
}

.CenterFrame {
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Contact {
    display: inline-block;
    text-align: center;

    width:200px;
    height:200px;
    margin: 20px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5)
}

.PopupCover {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;

    background-color: rgba(0, 0, 0, 0.2)
}

.PopupCover * {
    font-size: 40px;
}

.PopupCover input {
    width: 100px;
}

.PopupCover > div {
    position: absolute;
    top: 40%;
    width: 100%;
    transform: translate(0, -50%);
    text-align: center;
    padding:50px;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3)
}

.BGwhite {
    background-color: white;
}
.BGred {
    background-color: red;
}