/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#nonSeatedPlayers {
    background-color: lightgrey;
}

#nonSeatedPlayers > .Player {
    margin: 5px;
}

.Player {
    display: inline-block;
    padding: 3px;

    background-color: #FFFF99;

    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    -webkit-user-drag: element;
}

.Player > span {
    padding: 8px;
}

/*.Table {
    display: inline-block;
    margin: 10px;
    padding: 5px;

    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-shadow: 0px 3px 2px rgba(0,0,0,.5);
}


.Table > h1 {
    margin: 5px 0px;
    font-size: 20px;
}
*/

.Panel {    
    padding: 5px;
    background-color: lightgrey;

    border: 5px solid black;}

.Table {
    margin: 5px;
    padding: 5px;

    background-color: white;
}

h1 {
    margin: 10px 0px 0px 0px;
    font-size: 20px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 15px;
}

.Table > h2 > .NextRoundButton {
    padding: 0px 5px;
    color: white;
    background-color: grey;

    border-radius: 3px;
    cursor: pointer;
}

.Chair {
    margin-bottom: 3px;
}

.Chair > .SentCounterList > .SentCounter {
    display: inline-block;
    width: 35px;
    padding: 0px 10px;
    text-align: right;
}

.Chair > .PlayerSlot {
    display: inline-block;
    position: relative;
}

.Chair > .PlayerSlot::after {
    content:"";
    pointer-events: none;
    position: absolute;
    left:0;
    height:100%;
    width:100%;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,.5);
}

.Highlight {
    color:red;
    font-weight: bold;
}
